body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Courier, monospace;
  font-weight: 500;
  background-image: url('https://img.besthqwallpapers.com/Uploads/17-9-2019/104781/lavender-field-purple-flowers-lavender-flower-field-netherlands.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-menu {
  list-style: none;

  display: flex;
  justify-content: space-between;

  background-color: #360570;
  margin: 0;
  padding: 0;
}

.menu-item {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 20px 30px;
}

.menu-item:hover {
  background-color: #3f0783;
}

.main-content {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

.flex-item {
  height: 100px;
  width: 100px;
  margin: 0;
}

.content-section {
  background-color: #974bf4e5;
  width: fit-content;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  box-shadow: #3d0681 5px 5px 10px 5px ;
}
.content-section2 {
  background-color: #8543d6eb;
  width: fit-content;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  align-self: flex-end;
  box-shadow: #3d0681 5px 5px 10px 5px 
}
.content-section3 {
  background-color: #773dbdee;
  width: fit-content;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  box-shadow: #3d0681 5px 5px 10px 5px 
}

.blue {
  background-color: #6c1fcb;
}
.content-section ul {
 list-style: georgian;
}
main {
}
nav {
  background-color: #a264ede8;
  margin: 0;
  padding: 10px;
}
.center {
 align-self: center ;
}
.flex1 {
  display: flex;
}
.p1 {
  font-size: 20px;
}
a {
  color: black;
}
.p2 {
  font-size: 30px;
}
footer {
  background-color: #360570;
}
.color {
  color: #e1c8ff;
  font-size: 15px;
}
