body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Courier, monospace;
  font-weight: 500;
  background-image: url('https://img.besthqwallpapers.com/Uploads/17-9-2019/104781/lavender-field-purple-flowers-lavender-flower-field-netherlands.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-menu {
  list-style: none;

  display: flex;
  justify-content: space-between;

  background-color: #360570;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.menu-item {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 20px 30px;
}

.menu-item:hover {
  background-color: #3f0783;
}

.main-content {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

.flex-item {
  height: 100px;
  width: 100px;
  margin: 0;
}

.content-section {
  background-color: #974bf4e5;
  width: fit-content;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  box-shadow: #360570 5px 5px 15px 5px ;
}
.content-section2 {
  background-color: #8643D6;
  width: fit-content;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  align-self: flex-end;
}

.blue {
  background-color: #6c1fcb;
}
.n {font-size: 25px;}
.content-section h2 {
  font-size: 25px;
}
.content-section h3 {
  font-size: 20px;
}
.content-section ul {
 list-style:none ;
}