body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Courier, monospace;
  font-weight: 500;
  background-image: url('https://img.besthqwallpapers.com/Uploads/17-9-2019/104781/lavender-field-purple-flowers-lavender-flower-field-netherlands.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-menu {
  list-style: none;

  display: flex;
  justify-content: space-between;

  background-color: #360570;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.menu-item {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 20px 30px;
}

.menu-item:hover {
  background-color: #3f0783;
}

.flex-container {
  display: flex;

  flex-direction: column;
  justify-content: space-between;

  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  background-color: #e4d6ff;
}

.flex-item {
  height: 100px;
  width: 100px;
  margin: 0;
}

.red {
  background-color: #974bf4;
}

.green {
  background-color: #8643D6;
}

.blue {
  background-color: #6c1fcb;
}
.n {font-size: 25px;}